main {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
}

nav {
  width: 100%;
}

.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
  margin-left: 10px;
}
.reports {
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
}
.future-day {
  background-color: rgba(255, 255, 0, 0.352);
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: yellow 2px double;
}

.form-control {
  margin-bottom: 10px;
}

#recent-search {
  padding: 0px;
}

#recent-search > button {
  background-color: #3498db;
  color: #fff;
  border: none;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  font-size: 14px;
  width: 100%;
  transition: background-color 0.3s ease;
}

#future {
  display: flex;
  flex-direction: row;
}

#bottom {
  display: flex;
  flex-direction: row;
}

#weather {
  background-color: rgba(0, 0, 128, 0.4);
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

@media screen and (max-device-width: 720px) {
  main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100%;
  }
  .container-fluid {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .reports {
    padding-left: 10px;
    padding-right: 10px;
  }
  #future {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: 10px;
  }
}
